<form [formGroup]="clientGroup" (submit)="save()">

  <app-form-input [group]="clientGroup" key="title" label="Title" placeholder="Title"></app-form-input>
  <app-form-input [group]="clientGroup" key="firstName" label="First name" placeholder="First name"></app-form-input>
  <app-form-input [group]="clientGroup" key="lastName" label="Last name" placeholder="Last name"></app-form-input>
  <app-form-input [group]="clientGroup" key="company" label="Company" placeholder="Company"></app-form-input>
  <app-form-input [group]="clientGroup" key="position" label="Position" placeholder="Position"></app-form-input>

  <fieldset class="form-group">
    <label class="control-label">Gender</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="gender" value="male" formControlName="gender">
        Male
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="gender" value="female" formControlName="gender">
        Female
      </label>
    </div>
  </fieldset>

  <button class="btn btn-primary pull-right">Submit</button>
</form>
